.home {
	display: grid;
	grid-template: 
	'ps se us' 6%
	'ps pf pf' auto
	'ps pa pa' 1fr
	/6fr 1fr auto;
	align-items: center;
	gap: 2rem;

	max-height: 100vh;

	padding: 20px 2vw;

	.user {
		justify-self: end;
	}

	.pa {
		margin-bottom: auto;
	}
}